.contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
}
.contents-header{
    font-weight: bolder;
    font-size: 26px;
}
.stake{
    padding: 1.5rem 2rem;
    width: 50%;
    border-radius: 60px;
    border: 1px solid #bdbdbd;
    outline: none;
}

@media screen and (max-width: 600px){
    .stake{
        padding: .5rem 1.5rem;
        width: 120%;
        border-radius: 60px;
        border: 1px solid #bdbdbd;
        outline: none;
    }
}